:root {
	/* colors */
	--main-green: #0D7037;
	--light-green: #34ff00b3;
	--grey:#333;
	--facebook-color: #1877F2;
	--youtube-color: #d60000;
	--primary-yellow: #d3d600;
	/* font's */
	--primary-font: 'Oswald', sans-serif;
	--secondary-font: system-ui;
	--primary-color: #333;
	--hover-nav-color: #005521;
	--grey-color: #cccccc;
	--test-var: green;
	/* margins */
	--margin-sides: 50px;
}

* {
	box-sizing: border-box;
}

*,
html {
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--primary-font, --secondary-font);
}

/* hide navigation style */
section#homeContainer,
section#aboutContainer,
section#offerContainer,
section#galleryContainer,
section#contactContainer {
	scroll-margin: 40px;
}

#hideNav {
	z-index: 10;
	color: white;
	background-color: #0b0b0b;
	position: fixed;
	/* Make it stick/fixed */
	top: -50px;
	/* Hide the navbar 50 px outside of the top view */
	max-height: 50px;
	padding: 0 250px;
	/* align-items: center; */
	width: 100%;
	/* Full width */
	transition: top 0.3s;
	/* Transition effect when sliding down (and up) */
}

#hideNav ul {
	width: 100%;
	list-style: none;
	display: inline-flex;
	justify-content: space-around;
}

#hideNav .customNavLink {
	padding: 10px 30px;
	color: #ffffff;
}

#hideNav .customNavLink svg {
	display: none;
}