:root {
  /* colors */
  --main-green: #0d7037;
  --light-green: #34ff00b3;
  --grey: #333;
  --facebook-color: #1877f2;
  --youtube-color: #d60000;
  --primary-yellow: #d3d600;
  /* font's */
  --primary-font: "Oswald", sans-serif;
  --secondary-font: system-ui;
  --primary-color: #333;
  --hover-nav-color: #005521;
  --grey-color: #cccccc;
  --test-var: green;
  /* margins */
  --margin-sides: 50px;
}

a {
  all: unset;
}

* {
  box-sizing: border-box;
}

*,
html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font, --secondary-font);
}

button {
  font-family: var(--primary-font);
}

.text_white {
  color: #ffffff;
}

#hide_nav {
  z-index: 10;
  color: #000000;
  position: fixed;
  top: -280px;
  height: 80px;
  width: 100%;
  transition: top .2s linear;
}

/* homeContainer styles */

.socialMedia-list {
  display: flex;
  justify-content: center;
  list-style: none;

  .socialMedia-item {
    margin-left: 15px;
  }

  .socialMedia-item:hover {
    cursor: pointer;
  }

  .socialMedia-item.facebook {
    fill: var(--facebook-color);
  }

  .socialMedia-item.youtube {
    fill: var(--youtube-color);
  }
}

.service-list {
  list-style: none;
  color: #ffffff;
}

.service-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.service-item .serviceName {
  width: 400px;
}

.servicePrice {
  text-align: center;
  width: 150px;
}

.service-item:nth-child(even) {
  background-color: #696969b7;
  border-top: 1px solid var(--main-green);
  border-bottom: 1px solid var(--main-green);
}

.ikony {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.xyz {
  position: relative;
  max-width: 23%;
  padding: 15px;
  text-align: center;
  /* background-color: #ffffff; */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
  border-radius: 4px;
  opacity: 1;
  /* transform: translateX(100px);
  transition: 0.5s; */
}

.xyz:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	border-radius: 4px;
	background-color: green;
	bottom: 0px;
	left: 0px;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.3s ease-in-out;
}

.xyz:hover:before {
	transform-origin: left;
	transform: scaleX(1);
}

.xyz img {
  filter: invert(1);
  padding: 15px 0;
  max-width: 20%;
}

.xyz.animation {
  opacity: 1;
  transform: translateX(0);
  text-align: center;
}

#contactContainer {
  background-color: var(--main-green);
}

.contactHeader {
  padding: 100px 0;
  text-align: center;
}

.contactHeader svg {
  font-size: 40px;
  fill: #ffffff;
  position: relative;
}

.contactHeader h1 {
  padding: 50px 0;
  letter-spacing: 2px;
}

.contactContent {
  display: flex;
  padding: var(--margin-sides);

  & div {
    flex-basis: 50%;
  }
  & form {
    flex-basis: 50%;
    padding: 0 3%;
  }
}

/* formularz wysyłki maila */
/* .contact-form {
	margin: 0 auto;
} */

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#footer {
  padding: var(--margin-sides);
  width: 100%;
  height: 100px;
}
