section#homeContainer,
section#aboutContainer,
section#offerContainer,
section#galleryContainer,
section#contactContainer {
	height: 100vh;
	width: 100%;
	scroll-margin: 40px;
}

section:nth-child(odd) {
	background-color: #0b0b0b;
}

section > img {
	display: none;
}

section#aboutContainer,
section#offerContainer,
section#galleryContainer,
section#contactContainer {
	display: flex;
}

/* About style */
#aboutContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.about-frame {
	border: 3px solid #1e1e1e;
	padding: 30px;
	/* +40 za obramówke tego obok */
	width: 440px;
	font-size: 18px;
}

.about-frame p {
	text-indent: 20px;
	word-spacing: 1px;
}

.salon-photo {
	position: relative;
	padding-bottom: 5%;
}

.about_out_frame {
	position: absolute;
	width: 400px;
	height: 400px;
	border: 3px solid #1e1e1e;
	z-index: 2;
	top: 40px;
	left: 40px;
}

.aboutUs {
	letter-spacing: 0.5px;
}

/* Home styles */
#homeContainer {
	position: relative;
}

#homeContainer > div {
	display: flex;
	flex-direction: column;
}

#topPart {
	height: 40%;
	position: sticky;
	z-index: 2;
	background-color: #0b0b0b;
	padding: 0 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-bottom: 3px solid #eeeeee;
	box-sizing: border-box;
}

#topPart .logo {
	display: flex;
	justify-content: center;
}

.simpleInfo {
	padding-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	color: #eeeeee;
}

.simpleInfo > .clock {
	padding-top: 20px;
	font-size: 1.4em;
}

#homeNav > span[id="Strona Główna"] {
	display: none;
}

#homeNav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	color: white;
	padding-bottom: 20px;
	align-items: center;
	width: 100%; /* Full width */
}

#homeNav > span {
	list-style: none;
	font-size: 1.4em;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s ease;
	transition-delay: 0.25s;
	margin: 1em;
	padding-bottom: 0.3em;
}

#homeNav > span:hover {
	cursor: pointer;
	border-bottom: 2px solid white;
}

#bottomPart {
	height: 60%;
}

#bottomPart .someInfo {
	width: 30%;
	display: flex;
	align-content: space-between;
	justify-content: center;
	align-items: center;
	font-size: 1.4em;
	color: #eeeeee;
}

#bottomPart .viewInfo {
	height: 100%;
}

#bottomPart .slider {
	width: 100%;
	height: 100%;
}

#bottomPart .track {
	width: 100%;
	height: 100%;
}
