section#homeContainer, section#aboutContainer, section#offerContainer, section#galleryContainer, section#contactContainer {
	scroll-margin: 40px;
}

/* section:nth-child(odd) {
	background-color: #0b0b0b;
} */

section > img {
	display: none;
}
/* Home styles */
#webHeader {
	/* border-bottom: 3px solid var(--grey-color, #cccccc); */
}

#webHeader header {
	display:flex;
	justify-content: space-between;
	padding: 0 50px;
	background-image: url('../assets/MacBook\ Pro\ 16_\ -\ 2.png');
  }
  
  .information-item  {
	padding-right: 5px;
  }
  
  .information-item.pin {
	fill: #00702b;
  }
  
  .information-item.phone {
	fill: var(--youtube-color);
  }

  .information-list {
	padding-top: 50px;
	font-size: 1.4em;
	width: 250px;
	list-style-type: none;
	margin: 0px;
  }
  
.socialMedia-list {
	display: inline-flex;
	list-style: none;
	margin-top: 10px;
	width: 250px;
  }
  .socialMedia-item {
	margin-left: 15px;
  }
  
  .socialMedia-item:hover {
	cursor: pointer;
  }
  
  .socialMedia-item.facebook {
	fill: var(--facebook-color);
  }

  .socialMedia-item.instagram {
	fill: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  }

  .socialMedia-item.youtube {
	fill: var(--youtube-color);
  }
  
.navbar {
	
}
  .navbar ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	padding: 30px 0 30px 0;
	margin-bottom: -3px;
  }
  
  .customNavLink {
	display: inline-flex;
	padding: 0 30px;
  }


  .customNavLink svg {
	padding-right: 5px;
  }

  .customNavLink a {
	padding: 0px 10px 0px 10px;
	cursor: pointer;
  }

  .customNavLink a:hover {
	color: var(--hover-nav-color, #005521);
  }

  .customNavLink a:hover svg{
	fill: var(--hover-nav-color, #005521);
  }
  
  .customNavLink a.active {
	color: var(--hover-nav-color, #005521);
	border-bottom: 3px solid var(--hover-nav-color);
	padding-bottom: 10px;
  }

  .customNavLink a.active svg {
	fill: var(--hover-nav-color, #005521);
  }

  .homeContain {
	background-image: url('../assets/pexels-jeshootscom-834892.jpg');
	background-repeat: no-repeat;
    background-size: cover;
	/* filter: brightness(0.5); */
	display: flex;
	flex-direction: column;
	color: #ffffff;
  }

  .homeContain > div {
	background-color: rgba(30,20,0,.5);
	padding: 150px 50px 250px;
  }

  .homeContain h1 {
	position: relative;
	font-size: 45px;
	font-weight: 100;
  }

  .homeContain h1::before {
	content: "";
	position: absolute;
	width: 40px;
	border-top: 5px solid #ffffff;
	top: -20px;
	left: 0;
  }

  .homeContain p {
	font-size: 25px;
	padding: 20px 0 50px;
  }
  
  .home-button {
	width: fit-content;
	background-color: transparent;
	font-size: 35px;
	padding: 10px;
	color: #ffffff;
	border: 2px solid #ffffff;
	box-sizing: content-box;
  }

  .home-button:hover {
	cursor: pointer;
	background-color: var(--hover-nav-color);
	border: 2px solid var(--hover-nav-color);
	border-radius: 5px;
	
  }
  /* About style */
#priceContainer {
	background-image: url('../assets/Projekt bez nazwy.png');
	background-repeat: no-repeat;
    background-size:cover;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#priceContainer > div {
	background-color: #1c1c1ce0;
	width: 100%;
	padding: 100px;
}

.priceHeader {
	text-align: center;
	color: #ffffff;
}

.priceHeader svg {
	font-size: 40px;
	fill: #d3d600;
	position: relative;
}

.priceHeader h1 {
	padding: 50px 0;
	font-weight: 100;
	letter-spacing: 2.0px;
}

.service-list {
	list-style: none;
	color: #ffffff;
}

.service-item {
	display: flex;
    justify-content: space-between;
	padding: 10px 30px;
}

.service-item .serviceName {
	width: 400px;
}

.servicePrice {
	text-align: center;
	width: 150px;
}

.service-item:nth-child(even) {
	background-color: #696969b7;
	border-top: 1px solid #d3d600;
	border-bottom: 1px solid #d3d600;
}

#realizationsContainer {
	padding: 50px;
	background: url('../assets/MacBook\ Pro\ 16_\ -\ 2.png') no-repeat ;
	background-size: cover;
}
#realizationsContainer > .category-list {
	display: flex;
}

.realizationsHeader {
	text-align: center;
}

.realizationsHeader svg {
	font-size: 40px;
	fill: #d3d600;
	position: relative;
}

.realizationsHeader h1 {
	padding: 50px 0;
	letter-spacing: 2.0px;
}

.categoryTitle {
	padding: 10px;
	font-weight: 100;
}
.categorySquare {
	width: 250px;
	height: 250px;
	position: relative;
	background-image: url('../assets/home-background.png') center center no-repeat,
}

.categorySquare img {
	width: 100%;
	height: 100%;
}

.category-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 100px;
}
.category-list > div {
	margin:20px;
	cursor: pointer;
	transition: all .3s linear;
}

.category-list > div:hover {
	transform: scale(1.1);
}

.categorySquare::before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
		bottom: 0;
		left: 0;
	}


#aboutContainer {
	padding: 100px 50px 200px 50px;
	border-top: 3px solid #d3d600;
	border-bottom: 3px solid #d3d600;
}

.aboutHeader {
	text-align: center;
}

.aboutHeader svg {
	font-size: 40px;
	fill: #d3d600;
	position: relative;
}

.aboutHeader h1 {
	padding: 50px 0;
	letter-spacing: 2.0px;
}
.ikony {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: start;
}

.xyz {
	width: 300px;
	text-align: center;
}

.xyz img {
	filter: invert(1);
	padding: 15px 0;
	max-width: 20%;

}

#contactContainer {
	background-color: #d3d600;
}

.contactHeader {
	padding: 100px 0;
	text-align: center;
}

.contactHeader svg {
	font-size: 40px;
	fill: #ffffff;
	position: relative;
}

.contactHeader h1 {
	padding: 50px 0;
	letter-spacing: 2.0px;
}