/* dorzuć to potem do section */
#homeBackground {
	background-image: url("../../assets/home_background.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#price_section {
	background-color: #1c1c1c;
}
